#pokedex {
    background-color: #0f0f0f;
    color: white;
    margin-left: 0%;
    padding-left: 0%;
    align-content: left;
}
#pokemon{
    align-content: left;
    margin-top: 0%;
    margin-left: 0%;
    max-width: 12vw;
}
.pokedex-header {
    min-width: auto !important;
}
.pokedex-body {
}

.pokedex-pokemon{
    display: flex;
    flex-direction: row;
    align-content: left;
    margin-top: 0%;
    margin-left: 0%;
    padding-left: 0%;
    color: white !important;    
}
body{
    background-color: #0f0f0f;
    color: white;
    margin-left: 0%;
    padding-left: 0%;
    align-content: left;
    overflow: hidden !important;
    max-width: 100%;
}

.search-bar{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 70%;
    padding-right: 10%;
    max-width: 100%;
    background-color: #0f0f0f;
    color: white;
}

@media (max-width: 600px) {

    .pokedex-body::-webkit-scrollbar {
        display: none;
    }

}