.pokemon-name {
    background-color: #222;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 1%;
}

.pokemon-gif{
    width: 18vw;
    border-radius: 3%;
    background-color: #3d3f3d;
    padding: 2%;
}

.pokemon-detail-info{
    background-color: #222;
    color: white;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
}

.pokemon-stats {
    background-color: rgba(34, 32, 32, 0.289) !important;;
    border-color: #3d3f3d;
}

.cell {
    border-color: #3d3f3d;
    color: white;
}

/* Media queries for responsive design */
@media (max-width: 600px) {
    .pokemon-gif {
        width: 45vw;
        margin-left: 35%;
        margin-bottom: 0.5%;
    }

    .pokemon-detail-info {
        flex-direction: column;
    }

    .pokemon-attributes {
        width: 100%;
    }

    .pokemon-stats {
        width: 100%;
    }
}

@media (max-width: 960px) {
    .pokemon-gif {
        width: 25vw;
    }

    .pokemon-attributes {
        width: 100%;
    }

    .pokemon-stats {
        width: 100%;
    }
}

@media (min-width: 961px) {
    .pokemon-gif {
        width: 18vw;
    }

    .pokemon-attributes {
        width: auto;
    }

    .pokemon-stats {
        width: auto;
    }
}